<nav class="navbar navbar-light bg-light">
  <div class="container-fluid nav-container">
    <a class="navbar-brand" href="#">Burger App, Hope You're Hungry</a>
  </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h3>Burgers To Be Eaten</h3>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>{{burger_name}}</li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
         <div class="col-4">
             <h3>Add a Burger</h3>
        </div>
         <div class="col-4">
            <h3>Burgers I Already Devoured</h3>
            <ul>
                 {{#each burgers}}
                    {{#if devoured}}
                           <li>{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>
