@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body
{
    font-family:Questrial;

}

.nav-container
{
    text-align:center;
    display:block!important;
}

.col-4
{
    text-align:center;
    display:block!important;
}